{% extends "root.html" %}
{% load i18n %}

{% if app_name in site_profile.modlist %}

{% block title %}{% trans item.classname %} {{ item.name }}{% endblock %}

{% block extra_jquery %}
$('input, select').attr('readonly', true);
$('input[type=text], textarea').each(function(){
  $(this).after($(this).val()).remove();
});
$('select').each(function(){
  $(this).after($(this).find('option:selected').text()).remove();
});
$('input[type=file], input[type=password]').remove();
{% endblock %}

{% endif %}

{% block module_content %}
<h2>{% trans item.classname %} <q>{{ item.name }}</q></h2>
<p>{% trans "Do you really want to delete this item?" %}</p>
<form action="{{ action }}" id="{{ action }}" method="post" {#% if form.is_multipart %}enctype="multipart/form-data" {% endif %#}>

{% include "snippets/form_readonly.html" %}

<p class="field_wrapper">
  <span class="label">
    <a href="../" class="button"><span class="ui-icon ui-icon-arrowthick-1-w"></span> {% trans "Back" %} </a>
  </span>
  <span class="field">
    <a href="javascript:document.forms['{{ action }}'].submit();" class="button"><span class="ui-icon ui-icon-trash"></span> {% trans "Delete" %} </a>
  </span>
</p>
</form>
{% endblock %}
