{% extends "root.html" %}
{% load i18n %}

{% if app_name in site_profile.modlist %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
{# CSS and JavaScript for color picker #}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorpicker/colorPicker.css" />   
<script src="{{ STATIC_URL }}colorpicker/jquery.colorPicker.js" type="text/javascript"></script> 
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{ admin_media_prefix }}{% endfilter %}";</script>
{% include "adhesive/head.html" %}
{% endblock %}

{% endif %}

{% block module_content %}
{% if user.is_authenticated %}
<h2>{{ title }}</h2>

{% include "adhesive/notes.html" %}

<form action="{{ action }}" id="{{ action }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>

{% include "dorsale/snippets/form_edit.html" %}
<p class="field_wrapper">
  <span class="label">
  {% if "/edit/" in action %}
    <a href="../" class="button"><span class="ui-icon ui-icon-arrowthick-1-w"></span> {% trans "Back" %} </a>
  {% else %}
    &nbsp;
  {% endif %}
  </span>
  <span class="field">
  {% if "/edit/" in action %}
    <a href="../delete/" class="button"><span class="ui-icon ui-icon-trash"></span> {% trans "Delete" %} </a>
  {% endif %}
    <a href="javascript:document.forms['{{ action }}'].submit();" class="button"><span class="ui-icon ui-icon-disk"></span> {% trans "Save" %} </a>
    <!-- <input type="submit" name="{{ action }}" value="{% trans "Save" %}"> -->
  </span>
</p>

</form>
{% else %}
<p>{% trans "You must not edit this item!" %}</p>
{% endif %}

{% endblock %}
